{# This template is populated by Reporter.__get_build_data() #}
The kernel was built with the following command:

    {{ cfg['make_opts'] }}

The kernel configuration used is available here:

    {{ cfg['cfgurl'] }}
