{% set jobs_run = report_jobs | length %}
{% set arch_plural = 'architectures' if jobs_run > 1 else 'architecture' %}

We compiled the kernel for {{ jobs_run }} {{ arch_plural }}:

  {% for job in report_jobs %}
  {{ job.kernel_arch }}:
    make options: {{ job.make_opts }}
    configuration: {{ job.cfgurl }}

  {% endfor %}
