{# Set some initial variables that we will use throughout the templates. #}
{% set total_patches = (mergedata.patchwork | length) + (mergedata.localpatch | length) %}
{% set patch_plural = "patches" if total_patches > 1 else "patch" %}
Hello,

{% if mergedata['localpatch'] or mergedata['patchwork'] %}
{# We tested patches against a kernel tree. #}
We ran automated tests on a patchset that was proposed for merging into this
kernel tree. The patches were applied to:
{% else %}
{# We ran baseline tests against a kernel tree. #}
We ran automated tests on a recent commit from this kernel tree:
{% endif %}

       Kernel repo: {{ mergedata['baserepo'] }}
            Commit: {{ mergedata['basehead'][:12] }} {{ mergedata['basesubject']}}

The results of these automated tests are provided below.

{# What is the overall job result? #}
{% if multireport_failed.name == 'TEST' %}
    Overall result: FAILED (see details below)
       Patch merge: OK
           Compile: OK
     Hardware test: FAILED
{% elif multireport_failed.name == 'BUILD' %}
    Overall result: FAILED  (see details below)
       Patch merge: OK
           Compile: FAILED
{% elif multireport_failed.name == 'MERGE' %}
    Overall result: FAILED  (see details below)
       Patch merge: FAILED
{% elif multireport_failed.name == 'PASS' %}
    Overall result: PASSED
       Patch merge: OK
           Compile: OK
     Hardware test: OK
{% endif %}

{% if multireport_failed.name != 'PASS' %}
    {% if multireport_failed.name == 'MERGE' %}
    {# Explain the merge failure. #}
    {% include 'merge_failure.j2' %}
    {% endif %}
    {% if multireport_failed.name == 'BUILD' %}
    {# Explain the build failure. #}
    {% include 'build_failure.j2' %}
    {% endif %}
    {% if multireport_failed.name == 'TEST' %}
    {# Explain the testing failure. #}
    {% include 'test_failure.j2' %}
    {% endif %}
We hope that these logs can help you find the problem quickly. For the full
detail on our testing procedures, please scroll to the bottom of this message.

{% endif %}
Please reply to this email if you have any questions about the tests that we
ran or if you have any suggestions on how to make future tests more effective.

        ,-.   ,-.
       ( C ) ( I )  Continuous
        `-',-.`-'   Kernel
          ( K )     Integration
           `-'
______________________________________________________________________________
{# If we merged anything, we need to explain what we did and in what order. #}
{% if total_patches > 0 %}

Merge testing
-------------
{% include "merge_details.j2" %}
{% endif %}
{# Explain what we built if we made it to the compile steps. #}
{% if multireport_failed.name != 'MERGE' %}

Compile testing
---------------
{% include "build_details.j2" %}
{% endif %}
