{# This is the limited report template.                                     #}
{# Don't send logs from tests in this report.                               #}
{% set report_omit_hardware_test_logs = True %}
{% include 'base.j2' %}
