We attempted to compile the kernel for multiple architectures, but the compile
failed on one or more architectures:

{% for job in report_jobs %}
  {% set kernel_arch = job.kernel_compiler.split('-')[0] if job.kernel_compiler else job.kernel_arch %}
  {% if job.buildlog %}
  {{ (kernel_arch + ":").ljust(8) }} FAILED (build log attached: {{ job.buildlog }})
  {% else %}
  {{ (kernel_arch + ":").ljust(8) }} PASSED
  {% endif %}
{% endfor %}

