
We cloned this repository and checked out a ref:

  Repo: {{ mergedata['baserepo'] }}
  Ref:  {{ mergedata['basehead'][:12] }} {{ mergedata['basesubject'] }}

We then merged the following {{ patch_plural }} with `git am`:

{% for patch_url, patch_name in mergedata.patchwork %}
  {{ patch_name }}
  {{ patch_url }}

{% endfor %}
{% for patch_path in mergedata.localpatch %}
  {{ patch_path }}

{% endfor %}
