One or more hardware tests failed:

{% for job in report_jobs %}
  {% set kernel_arch = job.kernel_compiler.split('-')[0] if job.kernel_compiler else job.kernel_arch %}
  {# If the job has no test results, then it passed. #}
  {% if job.test_results %}
  {{ kernel_arch }}: FAILED
  {% else %}
  {{ kernel_arch }}: PASSED
  {% endif %}
  {# Loop over the failed tasks and display them with their logs. #}
  {% for test_result in job.test_results %}
    {% for failed_task in test_result.failed_tasks %}
    Test name: {{ failed_task.name }}
      {% if not report_omit_hardware_test_logs %}
    Logs:
        {% for log in failed_task.logs %}
      {{ log }}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}

{% endfor %}
