One or more hardware tests failed:

{% for job in report_jobs %}
  {# If the job has no test results, then it passed. #}
  {% if job.test_results %}
  {{ job.kernel_arch }}: FAILED
  {% else %}
  {{ job.kernel_arch }}: PASSED
  {% endif %}
  {# Loop over the failed tasks and display them with their logs. #}
  {% for test_result in job.test_results %}
    {% for failed_task in test_result.failed_tasks %}
    Test name: {{ failed_task.name }}
    Logs:
      {% for log in failed_task.logs %}
      {{ log }}
      {% endfor %}
    {% endfor %}
  {% endfor %}

{% endfor %}
