One or more kernel tests failed:

{% for job in report_jobs %}
  {% set kernel_arch = job.cross_compiler_prefix.split('-')[0] if job.cross_compiler_prefix else job.kernel_arch %}
  {# Check the failed_tasks for each recipe to figure out if anything failed #}
  {% set result = namespace(res='PASSED') %}
  {% for test_result in job.test_results %}
    {% if test_result.failed_tasks %}
      {% set result.res = 'FAILED'  %}
    {% endif %}
  {% endfor%}
  {{ kernel_arch }}: {{ result.res }}
  {% if result.res == 'FAILED' %}
  {% for job_id in job.jobs if not report_omit_hardware_test_logs %}
    Beaker results: https://beaker.engineering.redhat.com/jobs/{{ job_id.split(":")[1] }}
  {% endfor %}
  {% endif %}
  {# Loop over the failed tasks and display them with their logs. #}
  {% for test_result in job.test_results %}
    {% for failed_task in test_result.failed_tasks %}
    Test name: {{ failed_task.name }}
      {% if not report_omit_hardware_test_logs %}
    Logs:
        {% for log in failed_task.logs %}
      {{ log }}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}

{% endfor %}
